.header {
    display: flex;
    height: 80px;
    margin-left: 40px;
}

.logo {
    width: 180px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100%;
   
}

.header-nav li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px;
    list-style: none;
}

.header-nav a {
    color: #FF6060;
    font-family: 'Montserrat'; 
    font-size: large;   
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav a:focus {
 text-decoration: underline;
}